.chooseApp {
    background: url("../img/space-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 100vw;
    height: 100vh;
    
}

#chatBtn {
    
    position: fixed; 
    
    
}